{% extends "extends/base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
  <div class="row">
    <!-- Левый вспомогательный блок -->
    <div class="col-md-3 mb-3 mt-1">
      <div class="card">
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <div class="h3">
                Об авторе
              </div>
            </li>
            <li class="list-group-item">
              <div class="h6 text-muted">
                Вообще если вы здесь то мы знакомы
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Тело страницы -->
    <div class="col-md-9">
      <div class="card-body">
        <div class="card-text">
          <p>Меня зовут Максим Шамшурин, я младший научный сотрудник который вечерами после работы учится программировать.
            Порой вечерами я ещё учусь в аспирантуре, а порой поддерживаю социальную жизнь. На изучение программирования меня вдохновил (и продолжает вдохновлять!)
            мой начальник и платежи по ипотеке. Пока что мне лень разбираться как положить сюда фотку кружки с Жижеком, так как я ОЧЕНЬ сильно опаздываю с 4 спринтом.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %} 